# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Eclipse files
.settings/
.classpath
.project

# IntelliJ IDEA files
.idea/
*.iml

# NetBeans files
nb-configuration.xml

# Maven target directory
target/

# Gradle build directory
build/

# Compiled JAR files
*.jar

# Javadoc
/apidocs/

# IntelliJ IDEA project folder
.idea/

# Visual Studio Code settings
.vscode/

# NetBeans build directories
nbbuild/
nbdist/

# JDeveloper ADF settings
.jdeveloper/
jdev/

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# macOS-specific
.DS_Store

# Windows-specific
Thumbs.db
